---
---

@import url(https://fonts.googleapis.com/css?family=Muli);

$font-muli: 'Muli', sans-serif;

$plynty-green: #00c5b2 !default;
$plynty-pink:  #e73074 !default;
$plynty-blue:  #00008b !default;
$plynty-gray:  #9E9E9E !default;
$plynty-white: #ffffff !default;

@import "home";
@import "background";
@import "blog";
@import "post";

/**
 * Text-align fallback for older browsers
 */
.start-xs {
    text-align: left;
}

.end-xs {
    text-align: right;
}

@media only screen and (min-width: 48em) {

    .start-sm {
        text-align: left;
    }

    .end-sm {
        text-align: right;
    }

}

@media only screen and (min-width: 64em) {

    .start-md {
        text-align: left;
    }

    .end-md {
        text-align: right;
    }
}

@media only screen and (min-width: 75em) {

    .start-lg {
        text-align: left;
    }

    .end-lg {
        text-align: right;
    }

}

html {
    font-family: $font-muli;
    font-size: 62.5%;
}

body {
    font-size: 2.1rem;
}

.wrapper {
    width: 100%;
    max-width: 125rem;
    margin: auto;
}

header {
    background-color: $plynty-gray;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .75;
    box-sizing: border-box;
    z-index: 1;
}

header .row {
    padding: 1rem;
}

nav {
  padding-right: 3rem !important;
}

.nav-item {
    color: $plynty-white;
    text-decoration: none;
}

nav a {
    padding: 1.4rem;
    font-size: 2.0rem;
}

nav a:hover {
    background: gray;
}

footer {
    margin: auto;
}

footer address {
    color: $plynty-white;
    font-style: normal;
    font-size: 1.5rem;
}

footer h1 {
    font-size: 3.6rem;
    color: $plynty-white;
}

footer p {
    color: $plynty-white;
    font-size: 1.8rem;
}

footer .trademarks p {
    font-size: 1.2rem;
}

footer div.links a {
    color: $plynty-white;
    font-size: 1.5rem;
}

footer form {
    margin: auto;
}

footer .row {
    padding-left: 4rem;
    padding-right: 4rem;
}

footer .row {
    background-color: $plynty-green;
    padding-bottom: 4.2rem;
}

footer .row:nth-child(2) a {
    font-size: 1.4rem;
    color: $plynty-white;
    text-decoration: none;
}

footer div.social i {
    color: $plynty-white;
    padding-right: 2rem;
}

footer nav a {
    text-decoration: none;
    color: $plynty-white;
    font-size: 1.8rem;
}

.md-accent {
    background-color: $plynty-pink;
    color: $plynty-white;
    text-transform: lowercase;
}

.md-outline {
    background-color: $plynty-white;
    border: .1rem solid $plynty-pink;
    text-transform: lowercase;
    color: $plynty-pink;
}

.md-outline-blue {
    background-color: $plynty-white;
    border: .1rem solid $plynty-blue;
    text-transform: lowercase;
    color: $plynty-blue !important;
}
