---
---

@import url(https://fonts.googleapis.com/css?family=Muli);

$font-muli: 'Muli', sans-serif;

$plynty-green: #00c5b2 !default;
$plynty-pink:  #e73074 !default;
$plynty-blue:  #00008b !default;
$plynty-gray:  #9E9E9E !default;
$plynty-white: #ffffff !default;
$plynty-header: #f9f9f7 !default;

$social-twitter: #3b539e !default;
$social-facebook: #5489d1 !default;
$social-linkedin: #0077ba !default;

@import "header";
@import "home";
@import "aboutus";
@import "blog";
@import "post";

/**
 * Text-align fallback for older browsers
 */
.start-xs {
    text-align: left;
}

.end-xs {
    text-align: right;
}

@media only screen and (min-width: 48em) {

    .start-sm {
        text-align: left;
    }

    .end-sm {
        text-align: right;
    }

}

@media only screen and (min-width: 64em) {

    .start-md {
        text-align: left;
    }

    .end-md {
        text-align: right;
    }
}

@media only screen and (min-width: 75em) {

    .start-lg {
        text-align: left;
    }

    .end-lg {
        text-align: right;
    }

}

html {
    font-family: $font-muli;
    font-size: 62.5%;
}

body {
    font-size: 2.1rem;
}

.wrapper {
    width: 100%;
    // max-width: 110rem;
    margin: auto;
}

header {
    background-color: $plynty-header;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .8;
    box-sizing: border-box;
    z-index: 1;
}

header .row {
    padding: 1rem;
}

nav {
  padding-right: 3rem !important;
}

.nav-item {

  text-decoration: none;
  font-weight: 900;
}

nav a {
    padding: 1.4rem;
    font-size: 2.0rem;
}

nav a:hover {
    background: gray;
  color: $plynty-white !important;
}

footer {
    margin: auto;
}

footer address {
    color: $plynty-white;
    font-style: normal;
    font-size: 1.5rem;
}

footer h1 {
    font-size: 3.6rem;
    color: $plynty-white;
}

footer p {
    color: $plynty-white;
    font-size: 1.8rem;
}

footer .trademarks p {
    font-size: 1.2rem;
}

footer div.links ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

footer div.links ul li {
  list-style-type:none;
}

footer div.links a {
    color: $plynty-white;
    font-size: 1.5rem;
}

footer form {
    margin: auto;
}

footer .row {
    padding-left: 4rem;
    padding-right: 4rem;
}

footer .row {
    background-color: $plynty-green;
    padding-bottom: 4.2rem;
}

footer .row:nth-child(2) a {
    font-size: 1.4rem;
    color: $plynty-white;
    text-decoration: none;
}

footer div.social i {
    color: $plynty-white;
    padding-right: 2rem;
}

footer nav a {
    text-decoration: none;
    color: $plynty-white;
    font-size: 1.8rem;
}

.md-button {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 0;
}

.md-accent {
    background-color: $plynty-pink;
    color: $plynty-white;
    text-transform: lowercase;
}

.md-outline {
    background-color: $plynty-white;
    border: .1rem solid $plynty-pink;
    text-transform: lowercase;
    color: $plynty-pink;
}

.md-outline-blue {
    background-color: $plynty-white;
    border: .1rem solid $plynty-blue;
    text-transform: lowercase;
    color: $plynty-blue !important;
}

section h1, section h2 {
  font-weight: normal;
  letter-spacing: .1rem;
  color: $plynty-green;
}

section h1 {
  font-size: 3.2rem;
  margin: auto;
}

section h2 {
  font-size: 2.4rem;
  margin-top: 0;
  padding-top: 0;
}

section p {
  font-size: 1.8rem;
  letter-spacing: .075rem;
}

section a {
  text-decoration: none;
  color: $plynty-green;
}

section:first-child {
  padding-top: 10rem;
}

section:nth-child(even) {
  background-color: #f9f9f7;
}

section:nth-child(odd) {
  background-color: $plynty-white;
}

section .row {
  padding: 4rem 0;
  margin: 0 4rem;
}

.section-wrapper {
  max-width: 1100px;
  margin: auto !important;
}

.post-wrapper {
  max-width: 800px;
  margin: auto !important;
}

.icon-bullet h1 {
  font-size: 1.8rem;
  margin-bottom: .5rem;
  padding-bottom: 0;
}

.icon-bullet p {
  margin-top: 0;
  font-size: 1.8rem;
}

i {
  color: $plynty-green;
}

.clear {
  clear: both;
}

.social-twitter {
  color: $social-twitter;
}

.social-facebook {
  color: $social-facebook;
}

.social-linkedin {
  color: $social-linkedin;
}

