<div class="donut">

  <div class="row hide-md hide-lg">
    <div class="col-xs">
      <div id="mobile-tagline-text"></div>
    </div>
  </div>

  <div class="row center-xs top-xs">

    <div class="col-xs-12 col-lg-6 center-xs start-md hide-xs hide-sm">
      <div id="leftside-tagline-text"></div>
    </div>

    <div class="col-xs-12 col-lg-6 center-xs end-md">
      <div id="animated-plynty-donut"></div>
    </div>
  </div>

  <div class="row center-xs hide-xs hide-sm">
    <div class="col-xs-12">
        <div id="bottom-explanation-text"></div>
    </div>
  </div>

</div>
