<div>

  <!--<div class="row">
    <div class="col-xs">
      <div class="box">
        <h2>Animated Plynty Donut</h2>
      </div>
    </div>
  </div>-->

  <!--<div class="row">
    <div class="col-xs">
      <div class="box">
      </div>
    </div>
    <div class="col-xs">
      <div class="box">
        <div id="mobile-tagline-text"></div>
      </div>
    </div>
  </div>-->

  <div class="row center-xs top-xs">
    <div class="col-xs-12 col-lg-6 center-xs start-md">
      <div id="leftside-tagline-text"></div>
    </div>

    <div class="col-xs-12 col-lg-6 center-xs end-md">
      <div id="animated-plynty-donut"></div>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-xs">
      <div class="box"></div>
    </div>
    <div class="col-xs">
      <div class="box">
        <div id="bottom-explanation-text"></div>
      </div>
    </div>
  </div>-->

</div>
