<main class="blog" style="margin-top: 100px; margin-left:50px; margin-right: 50px;">

  {% assign posts = site.posts %}

  <div class="row">

    <section class="col-xs-8 listing">
      {% for post in posts %}
      <article>
        <div class="row top-xs">
          <div class="col-xs-4">
            <img src="{{post.image}}" width="200">
          </div>
          <div class="col-xs-8">
            <div>{{post.categories}}</div>
            <h1>{{post.title}}</h1>
            {{post.content}}
          </div>
        </div>
      </article>
      {% endfor %}
    </section>

    <section class="col-xs-4 index">
      <h1>recently added</h1>
      <ul>
      {% for post in posts %}
        <li>{{post.title}}</li>
      {% endfor %}
      </ul>
    </section>

  </div>

</main>