<footer>
  <div class="row start-xs">
    <div class="col-xs-6"  style="margin-top: 25px;">
      <img src="/uploads/plynty_logo.png" style="margin-bottom: 25px">
      <address>
        copyright &copy; plynty, LLC 2016<br/>
        13880 Dulles Corner Lane<br/>
        Herndon, VA 20171<br/>
        support@plynty.com<br/>
      </address>
      <div class="links">
        <a href="#">disclaimer</a>
        <a href="{{ "/privacy.html" | prepend: site.baseurl | prepend: site.url}}">privacy policy</a>
        <a href="#">terms of use</a>
      </div>
    </div>
    <nav class="col-xs-6 end-xs" style="margin-top: 25px;">
      <div>
        <a href="{{"/index.html" | prepend: site.baseurl | prepend: site.url}}">home</a>
        <a href="#">about us</a>
        <a href="{{"/blog.html" | prepend: site.baseurl | prepend: site.url}}">blog</a>
        <a href="#">get the app</a>
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="col-xs-6 start-xs">
      <div class="trademarks">
        <p>Apple, the Apple logo and iPhone are trademarks of Apple Inc, registerd in the U.S. and other countries.
          App Store is a service mark of Apple Inc.  Andriod is a trademark of Google Inc.</p>
      </div>
    </div>
    <div class="col-xs-6 end-xs">
      <div class="social">
        <a href="https://twitter.com/plynty" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="https://www.facebook.com/plynty" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://www.linkedin.com/company/plynty" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
        <a href="https://www.instagram.com/plynty" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
      </div>
    </div>
  </div>
</footer>
