<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <!-- angular material styles -->
  <link rel="stylesheet" href="{{ "/bower_components/angular-material/angular-material.min.css" | prepend: site.baseurl | prepend: site.url}}">

  <!-- flexboxgrid styles -->
  <link rel="stylesheet" href="{{ "/bower_components/flexboxgrid/css/flexboxgrid.min.css" | prepend: site.baseurl | prepend: site.url}}" type="text/css">

  <!-- app styles -->
  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl | prepend: site.url }}">

  <!-- font-awesome: icons -->
  <link rel="stylesheet" href="{{ "/bower_components/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl | prepend: site.url }}">

  <!-- google fonts: Muli -->
  <!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">-->

  <!-- angular -->
  <script src="/bower_components/angular/angular.min.js"></script>

  <!-- angular animate -->
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>

  <!-- angular aria -->
  <script src="/bower_components/angular-aria/angular-aria.min.js"></script>

  <!-- angular material -->
  <script src="/bower_components/angular-material/angular-material.min.js"></script>

  <!-- ngapp scripts -->
  <script src="/ngapp/app.module.js"></script>
  <script src="/ngapp/app.controller.js"></script>
  <script src="/ngapp/app.config.js"></script>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

</head>

