<main class="{{include.page}}">

  <!-- get each section for the page and sort by position -->
  {% assign sections = site.sections | where: 'page', {{include.page}} | sort: 'position' %}

  <!-- process each section -->
  {% for section in sections %}

      <section>

        {% if section.format == 'big-image' %}
          <img src="uploads/{{section.image}}" width="100%">
        {% endif %}

        {% if section.format == 'image-right' %}
          <div class="row top-xs center-xs">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center-xs center-sm start-md start-lg">
              <p>{{section.content}}</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center-xs">
              <img src="uploads/{{section.image}}">
            </div>
          </div>
        {% endif %}

        {% if section.format == 'full' %}
          <div class="row middle-xs center-xs">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              {{section.content}}
            </div>
          </div>
        {% endif %}

        {% if section.format == 'image-left' %}
          <div class="row top-xs">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center-xs">
              <img src="uploads/{{section.image}}">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center-xs center-sm start-md start-lg">
              {{section.content}}
            </div>
          </div>
        {% endif %}

        {% if section.format == 'photos' %}
          <div class="row middle-xs center-xs photo-container">
            {{section.content}}
          </div>
        {% endif %}

        {% if section.format == 'three-block' %}
            {{section.content}}
        {% endif %}

      </section>

  {% endfor %}
</main>