
/* ngapp page styles */

.app section {
  border-bottom: .1rem solid lightgrey;
}

.app section .row {
  padding: 4rem;
}

.app section:nth-child(1) img {
  display: block;
}

.app section:nth-child(2) {
  background-color: #CED83E;
}

.app section h1 {
  color: #6fa5b5;
}

.app main {
  background-color: #ececec;
}
