/* home page styles */
.home {

  background-color: $plynty-white;

  section:first-child img {
    display: block;
  }

  .donut h1 {
    padding-top: 2rem;
    text-align: center;
  }

  .donut #bottom-explanation-text {
    height: auto;
  }

}