/* home page styles */
.home {
    background-color: $plynty-white;
    section:first-child img {
        display: block;
    }
    .addPadding {
        padding-top: 1.3rem;
    }
    .tagline-mobile {
        margin-bottom: 2rem;
    }
    .donut-bullet h1 {
        font-size: 1.8rem;
        text-align: left;
        color: rgba(0,0,0,.87);
        line-height: 4rem;
        padding-left: 15px;
    }
    .donut-explanation {
        margin-top: -6rem;
    }
    .donut-explanation p {
        line-height: 0.5rem;
        text-align: center;
    }
    #animated-plynty-donut {
        margin-top: -4rem;
    }
    p i {
        color: $plynty-green;
    }
    .donut-bullet i {
        color: $plynty-gray;
    }
    /* Header Image CSS Section */
    .headerImage {
        position: relative;
    }
    .headerImageContent {
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .headerImageContent h1{
        color: #474747;
        font-size: 4rem;
        letter-spacing: 3px;
        font-weight: bold;
        line-height: 2rem;
    }
    .headerImageContent p {
        color: #474747;
        font-size: 2rem;
        letter-spacing: 3px;
    }

    @media only screen and (min-width: 1000px){
      .headerImageContent{
          left: 35%;
          top: 45%;
      }
      .tagline-mobile {
          display:none;
      }
    }
    @media only screen and (max-width:1000px) {
        .headerImageContent{
            left: 45%;
            top: 50%;
        }
        .headerImageContent h1 {
            font-size: 2.8rem;
            text-align: left;
            text-transform: 50% 50%;
        }
        .headerImageContent p {
            font-size: 1.5rem;
            text-align: left;
            text-transform: 50% 50%;
        }
    }
    @media only screen and (max-width: 800px) {
        .headerImageContent {
            left: 45%;
            top: 50%;
        }
        .headerImageContent h1 {
            font-size: 1.4rem;
            text-align: left;
            text-transform: 50% 50%;
        }
        .headerImageContent p {
            font-size: 0.7rem;
            text-align: left;
            text-transform: 50% 50%;
        }
        .donut-explanation p {
            line-height: 1.5rem;
        }
    }
}
